APP_ENV=dev
APP_SECRET=

DATABASE_URL="mysql://root:@127.0.0.1:3306/eduverse?serverVersion=10.4.32-MariaDB&charset=utf8mb4"

MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

MAILER_DSN=

GROQ_API_KEY=
GROQ_MODEL=llama-3.1-8b-instant

RECAPTCHA3_KEY=
RECAPTCHA3_SECRET=

APP_CERT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=