<h1>Réinitialisation de mot de passe</h1>

<p>
    Bonjour,
</p>

<p>
    Vous avez demandé la réinitialisation de votre mot de passe pour votre compte Eduverse.
    Cliquez sur le lien suivant pour définir un nouveau mot de passe :
</p>

<p>
    <a href="{{ resetUrl }}">Réinitialiser mon mot de passe</a>
</p>

<p>
    Ce lien expirera le {{ expiresAt|date('d/m/Y à H:i') }}.
</p>

<p>
    Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer cet email en toute sécurité.
</p>

<p>
    Cordialement,<br>
    L'équipe Eduverse
</p>
