{% extends 'back/base.html.twig' %}

{% block title %}New Chapitres{% endblock %}

{% block body %}
    <h1>Create new Chapitres</h1>

    {{ include('chapitres/_form.html.twig') }}

    <a href="{{ path('chapitre_index') }}">back to list</a>
{% endblock %}
