<form method="post" action="{{ path('front_chapitre_delete', {'id': chapitre.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chapitre.id) }}">
    <button type="submit">Supprimer</button>
</form>
