{% extends 'back/base.html.twig' %}

{% block title %}Edit Chapitres{% endblock %}

{% block body %}
    <h1>Edit Chapitres</h1>

    {{ include('back/chapitres/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_chapitres_index') }}">back to list</a>

    {{ include('back/chapitres/_delete_form.html.twig') }}
{% endblock %}


