<form method="post" action="{{ path('app_bourse_delete', {'id': bourse.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette bourse ?');" style="display: inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bourse.id) }}">
    <button class="btn btn-danger">
        <i class="ti-trash mr-2"></i>Supprimer
    </button>
</form>
